<!--<app-input-name (onAddName)="transPoke($event)"></app-input-name>-->
<app-db-button (onAddNameDb)="pushPoke($event)"></app-db-button>

<div class="poke-card-wrapper">
  <div *ngFor="let Poke of pokeArray" class="poke-card" [ngClass]="[Poke.type2 === 'Flying' && Poke.type1 === 'Normal' ? Poke.type2 : Poke.type1]">
      <p>Name: {{ Poke.name }}</p>
      <p>Pokedex Number: {{ Poke.dexNum }}</p>
      <p>Type 1: {{ Poke.type1 }}</p>
      <p>Type 2: {{ Poke.type2 }}</p>
      <p>HP: {{ Poke.hp }}</p>
      <p>Attack: {{ Poke.atk }}</p>
      <p>Defense: {{ Poke.def }}</p>
      <p>Special Attack: {{ Poke.spA }}</p>
      <p>Special Defense: {{ Poke.spD }}</p>
      <p>Speed: {{ Poke.spe }}</p>
      <div>
        <app-update-button [idVal]="Poke.id" (onChangeNameDb)="putPoke($event)"></app-update-button>
        <app-delete-button [idVal]="Poke.id" (onDeleteDb)="removePoke($event)"></app-delete-button>
      </div>
      <!-- One Way
        <p *ngFor="let Stat of poke1.stats; let i = index">{{poke1.stats[i].stat.name}} : {{ poke1.stats[i].base_stat }}</p> -->


      <!--<p *ngFor="let Stat of poke1.stats">{{ Stat.stat.name }} : {{ Stat.base_stat }}</p>-->
  </div>
</div>

